:root {
    --stone: rgb(240, 235, 231);
    --gravel: rgb(219, 212, 206);
    --sky: rgb(182, 203, 222);
    --pale-sky: rgb(212, 229, 239);
    --off-white: rgb(245, 245, 245);

    --solid-blue: rgb(0, 119, 182);
    --grey-blue: rgb(67, 80, 102);
    --deep-blue: rgb(25, 51, 88);

    --earthy: rgb(170, 158, 147);
    --ophelia: rgb(196, 191, 186);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    background-color: var(--pale-sky);
    color: var(--deep-blue);
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
}

.clear-sky {
    background: var(--pale-sky) url("../images/blue-sky-taylor-van-riper.jpg") no-repeat fixed bottom;
    background-size: cover;
}

.overcast {
    background: var(--pale-sky) url("../images/cloudy-nikhil-dafare.jpg") no-repeat fixed center;
    background-size: cover;
}

.thunderstorm {
    background: var(--grey-blue) url("../images/lightning-glenn-abelson.jpg") no-repeat fixed top;
    background-size: cover;
}

.drizzle {
    background: var(--grey-blue) url("../images/drizzle-jose-fontano.jpg") no-repeat fixed center;
    background-size: cover;
}

.rain {
    background: var(--grey-blue) url("../images/rain-alex-dukhanov.jpg") no-repeat fixed center;
    background-size: cover;
}

.snow {
    background: var(--sky) url("../images/snow-thomas-griesbeck.jpg") no-repeat fixed center;
    background-size: cover;
}

.atmosphere {
    background: var(--sky) url("../images/smoke-daniel-gregoire.jpg") no-repeat fixed center;
    background-size: cover;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 2.8em;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 1.95rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.15rem;
}

header {
    visibility: hidden;
}

.main-child-flex {
    background-color: rgba(250, 250, 250, 0.2);
}


form {
    background-color: var(--stone);
    border-radius: 0.5rem;
    padding: 20px 10px;
}

img {
    object-fit: none;
    display: block;
}


.content-left {
    float: left;
}

.content-right {
    float: right;
}

.custom-row {
    padding: 1rem;
    margin: 2.2rem 0 5rem;
}

.custom-btn:hover {
    background-color: var(--grey-blue);
    border: 1px solid var(--grey-blue);
    outline: 2px solid lightsalmon;
}

.custom-form-btn {
    background-color: var(--solid-blue);
    border: 1px solid var(--solid-blue);
    height: 2.2rem;
}


#future-details-list {
    list-style-type: none;
}

#search-input-container {
    margin-bottom: 0.5rem;
}

#previous-searches-container {
    background-color: var(--off-white);
    border-radius: 0.5rem;
    padding: 1rem 0.2rem;
}

#clear-history-button {
    height: 2.2rem;
    width: 100%;
}

#previous-searches {
    background-color: var(--gravel);
    border-radius: 0.25rem;
    margin-top: 1rem;
    padding: 0.5rem 0;
}

#previous-searches button {
    min-width: 100%;
    margin: 5px 0;
    border: 2px solid var(--ophelia);
}

#previous-searches button:hover {
    background-color: var(--ophelia);
    outline: 2px solid var(--off-white);
}

#weather-display-container {
    background-color: rgba(250, 250, 250, 0.95);
    border-radius: 0.5rem 0.5rem 0 0;
    min-height: 12.5rem;
    padding: 1rem;
}

#weather-display-container h3 {
    color: var(--solid-blue);
}

#uvi-span {
    padding: 0.25rem 0.9rem 0.1rem;
    border-radius: 0.5rem;
}

#forecast-display-container {
    background-color: rgba(182, 203, 222, 0.92);
    border-radius: 0 0 0.5rem 0.5rem;
    min-height: 12.5rem;
    padding: 1rem;
}

.border-orange {
    border: 1px solid orange;
}

.border-blue {
    border: 1px solid blue;
}

@media screen and (min-width: 768px) {
    .main-parent-flex {
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
    }

    .main-child-flex {
        flex: 1 0 100%;
    }
}