:root {
    --stone: #f0ebe7;
    --gravel: #dbd4ce;
    --sky: #b6cbde;
    --pale-sky: #d4e5ef;
    --off-white: #f5f5f5;

    --solid-blue: #0077b6;

    --grey-blue: #4f5d75;
    --deep-blue: #193358;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    background-color: var(--pale-sky);
    color: var(--deep-blue);
    font-family: 'League Spartan', sans-serif;
    font-size: 24px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 2.3rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.6rem;
}

h6 {
    font-size: 1.35rem;
}

.content-left {
    float: left;
}

.content-right {
    float: right;
}




.custom-row {
    /* border: 1px dashed rgb(255, 141, 255);
    background-color: rgb(253, 216, 253); */
    padding: 5px;
}

.custom-btn:hover {
    background-color: var(--grey-blue);
    border: 1px solid var(--grey-blue);
}

form {
    background-color: var(--stone);
    padding: 20px 10px;
}




#future-forecast-icon {
    object-fit: none;
    display: block;
}

#future-details-list {
    list-style-type: none;
}

#search-input-container {
    border: 1px solid red;
    /* background-color: rgb(255, 228, 233); */
}

#previous-searches-container {
    border: 1px solid green;
    /* background-color: rgb(203, 216, 203); */
}

#previous-searches {
    background-color: orange;
}

#previous-searches button {
    min-width: 100%;
    margin: 5px 0;
}

#weather-display-container {
    border: 1px solid blue;
    background-color: var(--off-white);
}

#weather-display-container h3 {
    color: var(--solid-blue);
}

#forecast-display-container{
    border: 1px solid orange;
    /* background-color: rgb(255, 237, 203); */
}